*/_build/**
__pycache__
.pytest_cache
.vscode
.idea
/cmake-build-debug/
/out/
/experiments/
~$*
*~
*.swp
*.swo
.ipynb_checkpoints
*.pyc
/venv/
*.py[cod]
*.DS_Store
*/tmp/*
/tmp/
*/tmp/**
*/**/node_modules/*
*/node_modules/*
*/.python-version
.python-versio